.reg{
    padding: 20px;
}
.account-img {
    height: 250px;
    width: 250px;
  }
  .landing{
      margin-top: 2%;
  }
  .blog-img{
    height: 80px;
    width: 80px;
    
    margin-bottom: 16px;
  }
  #usern{
      margin-left: 20px;
  }
  #form,#profileupdate{
      display: none;
  }
  .cardquote{
      background-color:rgba(202, 193, 193, 0.8);
      padding: 3%;
  }
  #submit{
      background-color: aliceblue;
      border-radius: 5px;
  }
  #profbutton,#ref,#subs{
    border-radius: 5px;  
  }
  body{
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    font-family: 'Prompt', sans-serif;  
  }
  .bg{
      background-color: rgba(202, 193, 193, 0.8);
      padding: 4px;
      color: black;
      border-radius: 6px;
  }
  h1,h4{
    font-family: 'Grenze Gotisch', cursive;
  }
#modalComment{
    border-radius: 5px;
}
.singleblog{
    background-color: rgba(202, 193, 193, 0.8);  
    color: black;
}